.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $Gilroy;
    font-weight: 600;
    background-color: #f4f9fc;
    font-size: 18px;
    line-height: 1.3;
    color: $black;
    display: flex;
    flex-direction: column;
    @include max($lg) {
        line-height: 1.5;
        font-size: 16px;
    }
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    &--fluid {
        max-width: 1900px;
        padding: 0 15px;
    }
    @include max($sm) {
        padding: 0 5px;
    }
}

.title {
    font-size: 56px;
    font-family: 700;
    line-height: 1;
    font-family: $BebasNeueBold;
}

.text {
    font-family: 400;
    color: $grey;
    @include lineClamp;
    -webkit-line-clamp: 3;
}

.btn {
    outline: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    padding: 18px 30px;
    border: none;
    color: #fff;
    background-color: $red;
    font-weight: 600;
    font-size: 16px;
    font-family: $Montserrat;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    &:hover {
        background-color: rgba($red, 0.7);
    }
    &:focus {
        background-color: rgba($red, 0.5);
    }
    &:active {
        background-color: $red;
        color: $grey;
    }
}

// @include lineClamp;
// -webkit-line-clamp: 1;