
$red: #e2001a;
$black: #13171d;
$grey: #444;
$blue: #015aa9;
$orange: #ff6b00;


$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$Montserrat: 'Montserrat', sans-serif;
$Gilroy: 'Gilroy', sans-serif;
$BebasNeueBold: 'BebasNeueBold', sans-serif;




