<section class="contact">
    <div class="container">
        <h2 class="contact__title title">Наши контакты</h2>
        <div class="contact__inner">
            <div class="slides-contact">
                <div class="slides-contact__slider">
                    <ul class="slides-contact__wrapper">
                        <li class="slides-contact__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="slides-contact__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="slides-contact__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="slides-contact__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="slides-contact__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
                <button class="buttons__btn slides-contact__btn-prev" type="button">
                    <svg class="buttons__icon buttons__icon--rotate">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <button class="buttons__btn slides-contact__btn-next" type="button">
                    <svg class="buttons__icon">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <a class="contact__popup" data-width="640" data-height="360" data-fancybox href="https://youtu.be/hSM18CgyTA8" style="background-image: url(images/popup.jpg);">
                <button class="contact__btn" type="button" aria-label="Запуск видео отзыва"></button>
            </a>
        </div>
        
        <address class="contact-address">
            <ul class="contact-address__top">
                <li class="contact-address__item contact-address__item--tel">
                    <a class="contact-address__link" href="tel:069827738">069 82 77 38</a> /  
                    <a class="contact-address__link" href="tel:079927738">079 92 77 38</a>
                </li>
                <li class="contact-address__item contact-address__item--email">
                    <a class="contact-address__link" href="mailto:info@arron.md">info@arron.md</a>
                </li>
                <li class="contact-address__item contact-address__item--map">
                    <a class="contact-address__link" href="#">г. Кишинев, ул. Бэнулеску Бодони, д.33</a>
                </li>
            </ul>
            <div class="contact-address__bottom">
                <div class="contact-address__rating">
                    <span class="contact-address__name">Рейтинг сервиса</span>
                    <div class="rating">
                        <div class="rating__item">
                            <input class="rating__input" type="radio" value="5" name="rating" id="rating-5">
                            <label class="rating__label" for="rating-5"></label>
                            <input class="rating__input" type="radio" value="4" name="rating" id="rating-4" checked>
                            <label class="rating__label" for="rating-4"></label>
                            <input class="rating__input" type="radio" value="3" name="rating" id="rating-3">
                            <label class="rating__label" for="rating-3"></label>
                            <input class="rating__input" type="radio" value="2" name="rating" id="rating-2">
                            <label class="rating__label" for="rating-2"></label>
                            <input class="rating__input" type="radio" value="1" name="rating" id="rating-1">
                            <label class="rating__label" for="rating-1"></label>
                        </div>
                    </div>
                    <span class="rating__descr">4/5.0 - 403 голоса</span>
                </div>
                <div class="contact-address__social social">
                    <span class="contact-address__name">Рейтинг сервиса</span>
                    <ul class="social__list">
                        <li class="social__items">
                            <a class="social__link" href="#">
                                <svg class="social__icon social__icon--insta" aria-label="Переход на страницу в инстаграм">
                                    <use xlink:href="images/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__items">
                            <a class="social__link" href="#">
                                <svg class="social__icon social__icon--faceb" aria-label="Переход на страницу в инстаграм">
                                    <use xlink:href="images/sprite.svg#faceb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__items">
                            <a class="social__link" href="#">
                                <svg class="social__icon social__icon--tikt" aria-label="Переход на страницу в инстаграм">
                                    <use xlink:href="images/sprite.svg#tikt"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__items">
                            <a class="social__link social__link--yout" href="#">
                                <svg class="social__icon social__icon--yout" aria-label="Переход на страницу в инстаграм">
                                    <use xlink:href="images/sprite.svg#yout"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </address>
    </div>
    <div id="map-js"></div>
</section>