<section class="home">
    <h1 class="visually-hidden">Сервисный центр Arron по ремонту мобильных телефонов</h1>
    <div class="container">
        <div class="home__inner" style="background-image: url(images/master.png);">
            <div class="home__content">
                <h2 class="home__title title wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Проблемы с Вашим устройством?</h2>
                <p class="home__text text wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="2s">Решаем любые проблемы! Большой склад и опытные мастера</p>
                <button class="home__btn btn wow animate__fadeInLeft" type="button" data-wow-duration="1s" data-wow-delay="2.5s">Бесплатная консультация</button>
            </div>
            <div class="sale">
                <div class="sale__number">50%</div>
                <p class="sale__text">
                    скидка на ремонт телефонов, ноутбуков и планшетов до
                    <span>-50%</span>
                </p>
                <span class="sale__head">Конец акции:</span>
                <ul class="clock-sale">
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__days"></span>
                        <div class="clock-sale__smalltext">Days</div>
                    </li>
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__hours"></span>
                        <div class="clock-sale__smalltext">Hours</div>
                    </li>
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__minutes"></span>
                        <div class="clock-sale__smalltext">Minutes</div>
                    </li>
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__seconds"></span>
                        <div class="clock-sale__smalltext">Seconds</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="advice-modal">
        <div class="advice-modal__inner">
            <form class="advice-modal__form" action="#">
                <button class="advice-modal__exit" aria-label="Закрытие модального окна" type="button">
                    <svg class="advice-modal__icon">
                        <use xlink:href="images/sprite.svg#exit"></use>
                    </svg>
                </button>
                <h3 class="advice-modal__title title">Оставьте заявку на <mark>бесплатную</mark> консультацию</h3>
                <label for="name" class="visually-hidden">текстовое поля для заполнения Вашего имени</label>
                <input class="advice-modal__input" type="text" name="name" id="name" placeholder="Имя">
                <label for="tel" class="visually-hidden">текстовое поля для заполнения Вашего телефона</label>
                <input class="advice-modal__input" type="tel" name="tel" id="tel" placeholder="Телефон">
                <button class="btn advice-modal__btn" type="submit">Получить консультацию</button>
            </form>


            <div class="advice-modal__ready">
                <button class="advice-modal__exit" aria-label="Закрытие модального окна" type="button">
                    <svg class="advice-modal__icon">
                        <use xlink:href="images/sprite.svg#exit"></use>
                    </svg>
                </button>
                <h2 class="title advice-modal__ready-title">Ваша заявка отправлена</h2>
                <p class="advice-modal__text text">
                    Мы свяжемся с вами в ближайшее время
                </p>
            </div>
        </div>

    </div>
</section>