<section class="review" id="reviews">
    <div class="container">
        <div class="review__head">
            <h2 class="title review__title wow animate__lightSpeedInLeft" data-wow-duration="1s" data-wow-offset="10">Отзывы счастливых клиентов</h2>
            <div class="buttons">
                <button class="buttons__btn review__btn-prev" type="button">
                    <svg class="buttons__icon buttons__icon--rotate">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <button class="buttons__btn review__btn-next" type="button">
                    <svg class="buttons__icon">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="slider review-slider">
            <ul class="slider__wrapper">
                <li class="slider__slide">
                    <img class="slider__images" src="images/review-1.png" alt="Фото автора отзыва">
                    <button class="slider__btn" type="button" aria-label="Запуск видео отзыва"></button>
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/review-2.png" alt="Фото автора отзыва">
                    <button class="slider__btn" type="button" aria-label="Запуск видео отзыва"></button>
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/review-3.png" alt="Фото автора отзыва">
                    <button class="slider__btn" type="button" aria-label="Запуск видео отзыва"></button>
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/review-4.png" alt="Фото автора отзыва">
                    <button class="slider__btn" type="button" aria-label="Запуск видео отзыва"></button>
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/review-2.png" alt="Фото автора отзыва">
                    <button class="slider__btn" type="button" aria-label="Запуск видео отзыва"></button>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


