<section class="servises">
    <h2 class="visually-hidden">Наши услуги</h2>
    <div class="container">
        <ul class="servises__list">
            <li class="servises__item servises__item--courier">
                <span class="servises__name">Курьер  по городу</span>
                <p class="servises__text text">Выезд курьера Буюканы Чеканы, Рышкановка, центр, Ботаника.</p>
            </li>
            <li class="servises__item servises__item--tel">
                <span class="servises__name">Подменный телефон -  Беслатно</span>
                <p class="servises__text text">Телефон взамен Беслатно, пока ваш в ремонте</p>
            </li>
            <li class="servises__item servises__item--concern">
                <span class="servises__name">Забота о вас</span>
                <p class="servises__text text">Незначительные поломки - делаем бесплатно.</p>
            </li>
        </ul>
    </div>
</section>