<div class="work">
    <div class="container">
        <blockquote class="work__blockquote">
            В нашей компании работают лучшие специалисты, которые прекрасно разбираются в современных технологиях и имеют более 3-х лет опыта работы.
        </blockquote>
        <div class="work__inner">
            <div class="work__info">
                <p class="work__text text">
                    За счет этого мы гарантируем устранение любых неполадок и предоставляем гарантию на все выполненные работы.
                </p>
                <p class="work__text text">
                    Мы поможем не только восстановить работоспособность техники, но и подскажем, как избежать возникновения подобных поломок в будущем.
                </p>
                <p class="work__text text">
                    Квалифицированная консультация специалиста поможет безопасно пользоваться компьютером. В нашем штате работают опытные специалисты.
                </p>
            </div>
            <div class="slides">
                <div class="work-slider">
                    <ul class="work-slider__wrapper">
                        <li class="work-slider__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="work-slider__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="work-slider__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="work-slider__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                        <li class="work-slider__slide" style="background-image: url(images/work-slider-1.jpg);"></li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
                <button class="buttons__btn work-slider__btn-prev" type="button">
                    <svg class="buttons__icon buttons__icon--rotate">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <button class="buttons__btn work-slider__btn-next" type="button">
                    <svg class="buttons__icon">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>