.contact-address {
    padding: 70px 70px 40px;
    background-color: #fff;
    box-shadow: 0 50px 60px rgba(255, 107, 0, 0.08), 0 8px 10px rgba(255, 107, 0, 0.08);
    border-radius: 30px;
    margin-bottom: -100px;
    position: relative;
    z-index: 9;
    @include max($xl) {
        padding: 40px 20px 40px;
        display: flex;
        justify-content: center;
    }
    @include max($sm) {
        padding: 15px;
        display: block;
        margin-bottom: -60px;
    }    
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @include max($xl) {
            flex-direction: column;
            margin-bottom: 0;
            margin-right: 30px;
            max-width: 60%;
            width: 100%;
        }
        @include max($lg) {
            max-width: 46%;
        }
        @include max($sm) {
            max-width: 100%;
            margin-bottom: 35px;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 10px;
            @include max($xl) {
                margin-right: 0;
            }
            @include max($sm) {
                margin-bottom: 25px;
            }
        }
        padding-left: 60px;
        position: relative;
        &::after,
        &::before {
            position: absolute;
            content: '';
        }
        &::after {
            left: 0;
            z-index: 1;
            top: -16px;
            width: 56px;
            height: 56px;
            background-color: #005aaa;
            opacity: 0.3;
            border-radius: 116% 96% 93% 122% / 155% 0% 155% 0%;
            @include max($lg) {
                width: 46px;
                height: 46px;
                top: 0; 
            }
        }
        &::before {
            width: 32px;
            height: 32px;
            @include bg;
            top: -3px;
            left: 12px;
            z-index: 2;
            @include max($lg) {
                width: 24px;
                height: 24px;
                top: 10px;
            }
        }
    }

    &__item--tel {
        &::before {
            background-image: url(../images/phone-call.svg);
        }
    }
    &__item--email {
        &::before {
            background-image: url(../images/mail.svg);
        }
    }
    &__item--map {
        &::before {
            background-image: url(../images/icons/map.svg);
        }
    }

    &__link {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: 20px;
        outline: transparent;
        &:hover {
            color: $grey;
        }
        &:focus {
            color: $red;
        }
        &:active {
            color: rgba($black, 0.6);
        }
    }

    &__bottom {
        display: flex;
        @include max($xl) {
            display: block;
        }
    }
    &__rating {
        margin-right: 200px;
        @include max($xl) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    &__name {
        margin-bottom: 15px;
        display: block;
        font-size: 20px;
        @include max($sm) {
            margin-bottom: 0;
        }
    }
    &__descr {
        display: block;
        margin-top: 555px;
    }
}



.rating {
    height: 35px;
    width: 137px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    font-size: 33px;
    @include max($lg) {
        height: 45px;
        margin-bottom: 0;
    }
    @include max($sm) {
        margin-bottom: 10px;
    }
    &::after {
        position: absolute;
        content: '★★★★★';
        display: block;
    }
    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    }
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        &:checked,
        &:checked ~ .rating__label {
            color :rgb(245, 174, 23);
        }
    }
    &__label {
        flex: 0 0 20%;
        height: 100%;
        // cursor: pointer;
        color: #ccc;
        z-index: 8;
        &::after {
            position: absolute;
            content: '★';
            display: block;
            transform: all 0.3s;
        }
        // &:hover,
        // &:hover ~ .rating__label,
        // &:checked ~ .rating__label:hover {
        //     color: $orange;
        // }
    }
    &__descr {
        display: block;
        font-weight: 400;
        font-size: 18px;
    }
}


