.header {
    position: fixed;
    background-color: #f4f9fc;
    width: 100%;
    z-index: 15;
    top: 0;
    padding: 30px 0 20px;
    transition: box-shadow 0.3s ease-in, padding 0.3s ease-in;
    @include max($x) {
        padding: 15px 0;
    }
    @include max($md) {
        padding: 10px 0;
    }
    &--active {
        box-shadow: 0 5px 20px #cddae1;
        padding: 10px 0;
        transition: box-shadow 0.3s ease-in, padding 0.3s ease-in;
    }
    &--height {
        height: 100vh;
        background-color: rgba(#fff, 0.9);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 62%;
        margin-right: 45px;
        width: 100%;
        @include max($x) {
            margin-right: 0;
            position: absolute;
            flex-direction: column;
            height: 100vh;
            background-color: #F4F9FC;
            top: 0;
            left: 0;
            bottom: 0;
            max-width: 375px;
            justify-content: flex-end;
            padding: 0 24px 35px 24px;
            align-items: start;
            transform: translateX(-100%);
            transition: transform 0.4s ease-in-out;
        }
        @include max($sm) {
            max-width: 100%;
        }
        @include max($md) {
            padding-bottom: 11px;
        }
        &--active {
            transform: translateX(0);
            transition: transform 0.4s ease-in-out;
        }
    }
    &__button {
        background-color: #fff;
        border: none;
        box-shadow: 0 8px 16px rgba(255, 107, 0, 0.16);
        border-radius: 15px;
        margin-right: auto;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 48px;
        height: 48px;
        display: none;
        outline: transparent;
        position: relative;
        z-index: 55;
        transition: box-shadow 0.3s ease-in;
        &:hover {
            box-shadow: none;
        }
        @include max($x) {
            display: flex;
        }
        @include max($md) {
            width: 38px;
            height: 38px;
        }
    }
    &__button-item {
        width: 18px;
        height: 2px;
        display: block;
        border-radius: 3px;
        background-color: $black;
        transition: transform 0.3s ease-in;
        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
    &__button-item--active {
        transition: transform 0.3s ease-in;
        position: absolute;
        &:not(:last-child) {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
    &__map {
        position: relative;
        padding-left: 44px;
        font-weight: 400;
        font-family: $Montserrat;
        &::after {
            width: 24px;
            position: absolute;
            content: '';
            height: 29px;
            left: 0;
            top: 0;
            @include bg;
            background-image: url(../images/icons/map.svg);
        }
        @include max($x) {
            max-width: 205px;
            padding-left: 31px;
        }
        @include max($md) {
            max-width: 335px;
        }
    }
    &__text {
        font-size: 14px;
        @include lineClamp;
        -webkit-line-clamp: 2;
    }
    &__link {
        font-size: 12px;
        outline: transparent;
        color: $blue;
        text-decoration-line: underline;
        transition: color 0.3s ease-in;
        &:hover {
            color: $grey;
        }
        &:focus {
            color: $black;
        }
        &:active {
            color: $red;
        }
    }
    &__tel {
        white-space: nowrap;
        font-size: 20px;
        color: #000;
        position: relative;
        outline: transparent;
        margin-right: 35px;
        @include max($md) {
            margin-right: 10px;
            font-size: 16px;
        }
        @include max($s) {
            display: none;
        }
        &--first {
            padding-right: 18px;
            margin-right: 9px;
            &::after {
                position: absolute;
                content: '/';
                color: $grey;
                right: 0;
            }
            @include max($sm) {
                display: none;
            }
        }
        &:hover {
            color: $red;
        }
        &:focus {
            color: $black;
        }
        &:active {
            color: $grey;
        }
    }
    &__tel-icon {
        outline: transparent;
        min-width: 48px;
        height: 48px;
        background: rgba(226, 0, 26, 0.1);
        border-radius: 15px;
        display: flex;
        &:hover .header__icon{
            fill: $grey;
        }
        &:focus .header__icon{
            fill: $black;
        }
        &:active .header__icon{
            fill: #000;
        }
        @include max($md) {
            min-width: 38px;
            height: 38px;
        }
        @include max($sm) {
            position: relative;
            z-index: 55;
        }
    }
    &__icon {
        margin: auto;
        width: 16px;
        height: 16px;
        fill: $red;
        transition: fill 0.3s ease-in;
    }
}

.logo {
    display: block;
    outline: transparent;
    margin-right: 80px;
    &__images {
        min-width: 202px;
        height: 70px;
        display: block;
        @include max($x) {
            min-width: 155px;
            height: 55px;
        }
        @include max($md) {
            min-width: 135px;
            height: 40px;
        }
    }
    @include max($x) {
        margin-right: 35px;
        position: relative;
        z-index: 55;
    }
    @include max($md) {
        margin-right: 15px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        @include max($x) {
            flex-direction: column;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 24px;
            @include max($x) {
                margin-bottom: 40px;
                margin-right: 0;
            }
            @include max($lg) {
                margin-bottom: 2%;
            }
        }
        @include max($x) {
            width: 100%;
        }
    }
    &__link {
        outline: transparent;
        font-size: 16px;
        transition: color 0.3s ease-in;
        position: relative;
        padding-bottom: 23px;
        &::after {
            position: absolute;
            height: 2px;
            content: '';
            width: 0;
            background-color: $red;
            transition:  background-color 0.3s ease-in, width 0.3s ease-in;
            left: 0;
            bottom: 0;
            @include max($x) {
                display: none;
            }
        }
        &:hover {
            color: $red;
        }
        &:focus {
            color: $black;
        }
        &:active {
            color: $grey;
        }
        &:hover::after {
            width: 100%;
        }
        @include max($x) {
            display: block;
            font-size: 20px;
            width: 100%;
            padding-bottom: 0;
        }
    }
    @include max($x) {
        margin-bottom: 80px;
        width: 100%;
    }
    @include max($lg) {
        margin-bottom: 15px;
    }
}