.servises {
    margin-bottom: 140px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 364px;
        width: 100%;
        position: relative;
        padding-top: 105px;
        &:not(:last-child) {
            margin-right: 22px;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            @include bg;
        }
        &--courier {
            &::after {
                background-image: url(../images/courier.svg);
            }
        }
        &--tel {
            &::after {
                background-image: url(../images/phone.svg);
            }
        }
        &--concern {
            &::after {
                background-image: url(../images/concern.svg);
            }
        }
        &--work {
            &::after {
                background-image: url(../images/work.svg);
            }
        }
        &--card {
            &::after {
                background-image: url(../images/card.svg);
            }
        }
        &--warranty {
            &::after {
                background-image: url(../images/warranty.svg);
            }
        }
    }
    &__name {
        display: block;
        font-size: 20px;
        margin-bottom: 14px;
    }
}