.servises {
    margin-bottom: 140px;
    &__list {
        display: flex;
        justify-content: space-between;
        @include max($md) {
            flex-direction: column;

        }
    }
    &__item {
        max-width: 364px;
        width: 100%;
        position: relative;
        padding-top: 105px;
        &:not(:last-child) {
            margin-right: 22px;
            @include max($md) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        @include max($md) {
            max-width: 100%;
            padding-top: 0;
            padding-left: 75px;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            @include bg;
            @include max($md) {
                width: 50px;
                height: 50px;
            }
        }
        &--courier {
            &::after {
                background-image: url(../images/courier.svg);
            }
        }
        &--tel {
            &::after {
                background-image: url(../images/phone.svg);
            }
        }
        &--concern {
            &::after {
                background-image: url(../images/concern.svg);
            }
        }
        &--work {
            &::after {
                background-image: url(../images/work.svg);
            }
        }
        &--card {
            &::after {
                background-image: url(../images/card.svg);
            }
        }
        &--warranty {
            &::after {
                background-image: url(../images/warranty.svg);
            }
        }
    }
    &__name {
        display: block;
        font-size: 20px;
        margin-bottom: 14px;
        @include max($md) {
            margin-bottom: 8px;
        }
        @include max($sm) {
            margin-bottom: 0;
            font-size: 18px;
        }
    }
    @include max($xl) {
        margin-bottom: 50px;
    }
    @include max($lg) {
        margin-bottom: 25px;
    }
}