<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__left">
                <h2 class="about__title title">О компании Arron</h2>
                <p class="about__text text">Узнайте о нашей компании больше из видео за 1 минуту.</p>
                <button class="about__btn btn" type="button">Смотреть</button>
            </div>
            <div class="servises">
                <ul class="servises__list">
                    <li class="servises__item servises__item--courier">
                        <span class="servises__name">Выезжаем в любую точку Кишинева</span>
                        <p class="servises__text text">Выезд курьера Буюканы Чеканы, Рышкановка, центр, Ботаника.</p>
                    </li>
                    <li class="servises__item servises__item--work">
                        <span class="servises__name">Работы от 30 минут</span>
                        <p class="servises__text text">Время работы или настройки занимает
                            от 30 минут до несколько часов.</p>
                    </li>
                    <li class="servises__item servises__item--card">
                        <span class="servises__name">Удобный способ оплаты</span>
                        <p class="servises__text text">Незначительные поломки - делаем бесплатно.</p>
                    </li>
                    <li class="servises__item servises__item--warranty">
                        <span class="servises__name">Гарантия на все выполненые услуги</span>
                        <p class="servises__text text">Запчасти, фотографии и сообщения под Вашим контролем. После работ инженер отдаст Вам старые запчасти.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>