<section class="catalog" id="service">
    <div class="container">
        <div class="catalog__inner">
            <h2 class="catalog__title title">Мы работаем c устройствами:</h2>
            <ul class="catalog__list">
                <li class="catalog__item">
                    <article class="card card--apple">
                        <div class="card__block"></div>
                        <img  class="card__images" src="images/apple.png" alt="apple">
                        <div class="card__small">
                            <img  class="card__images-small" src="images/apple-small.svg" alt="apple">
                        </div>
                        <span class="card__name">Apple</span>
                        <a class="card__link" href="#">
                            <svg class="card__icon" aria-label="Вызов по клику на иконку">
                                <use xlink:href="images/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </article>
                </li>

                <li class="catalog__item">
                    <article class="card card--android">
                        <div class="card__block"></div>
                        <img  class="card__images" src="images/android.png" alt="android">
                        <div class="card__small">
                            <img  class="card__images-small card__images-small-android" src="images/android-small.svg" alt="apple">
                        </div>
                        <span class="card__name">Android</span>
                        <a class="card__link" href="#">
                            <svg class="card__icon" aria-label="Вызов по клику на иконку">
                                <use xlink:href="images/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </article>
                </li>
            </ul>
        </div>

        <ul class="catalog__list catalog__list--bottom">
            <li class="catalog__item">
                <article class="card card--woth">
                    <div class="card__block"></div>
                    <img  class="card__images card__images--woth" src="images/woth.png" alt="woth">
                    <span class="card__name">Гаджетами</span>
                    <a class="card__link" href="#">
                        <svg class="card__icon" aria-label="Вызов по клику на иконку">
                            <use xlink:href="images/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </article>
            </li>

            <li class="catalog__item">
                <article class="card card--comp">
                    <div class="card__block"></div>
                    <img  class="card__images card__images--comp" src="images/comp.png" alt="comp">
                    <span class="card__name">Ноутбуками</span>
                    <a class="card__link" href="#">
                        <svg class="card__icon" aria-label="Вызов по клику на иконку">
                            <use xlink:href="images/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </article>
            </li>
            <li class="catalog__item">
                <article class="card card--pc">
                    <div class="card__block"></div>
                    <img  class="card__images card__images--pc" src="images/pc.png" alt="pc">
                    <span class="card__name">Моноблоками и PC</span>
                    <a class="card__link" href="#">
                        <svg class="card__icon" aria-label="Вызов по клику на иконку">
                            <use xlink:href="images/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </article>
            </li>

            <li class="catalog__item">
                <article class="card card--idr">
                    <div class="card__block"></div>
                    <img  class="card__images card__images--idr" src="images/idr.png" alt="idr">
                    <span class="card__name">Другими устройствами</span>
                    <a class="card__link" href="#">
                        <svg class="card__icon" aria-label="Вызов по клику на иконку">
                            <use xlink:href="images/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </article>
            </li>

        </ul>
    </div>
</section>