<section class="catalog">
    <div class="container">
        <div class="catalog__inner">
            <h2 class="catalog__title title">Мы работаем c устройствами:</h2>
            <ul class="catalog__list">
                <li class="catalog__item">
                    <article class="card">
                        <img  class="card__images" src="images/apple.png" alt="apple">
                        <span class="card__name"></span>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>