<header class="header">
    <div class="container container--fluid">
        <div class="header__inner">
            <a class="logo" href="#">
                <img class="logo__images" src="images/logo.svg" alt="логотип">
            </a>
            <button class="header__button" type="button">
                <span class="header__button-item"></span>
                <span class="header__button-item"></span>
                <span class="header__button-item"></span>
            </button>
            <div class="header__holder">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Наши услуги</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">О компании</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Отзывы</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Выполненные заказы</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__map">
                    <div class="header__text">г. Кишинев, ул. Бэнулеску Бодони, д.33</div>
                    <a class="header__link" href="#">Мы на карте</a>
                </div>
            </div>
            <a class="header__tel header__tel--first" href="tel:069827738">069 82 77 38</a>
            <a class="header__tel" href="tel:079927738">079 92 77 38</a>
            <a class="header__tel-icon" href="#">
                <svg class="header__icon" aria-label="Вызов по клику на иконку">
                    <use xlink:href="images/sprite.svg#tel"></use>
                </svg>
            </a>
        </div>
    </div>
</header>