<section class="home">
    <h1 class="visually-hidden">Сервисный центр Arron по ремонту мобильных телефонов</h1>
    <div class="container">
        <div class="home__inner" style="background-image: url(images/master.png);">
            <div class="home__content">
                <h2 class="home__title title">Проблемы с Вашим устройством?</h2>
                <p class="home__text text">Решаем любые проблемы! Большой склад и опытные мастера</p>
                <a class="home__btn btn" type="button">Бесплатная консультация</a>
            </div>
            <div class="sale">
                <div class="sale__number">50%</div>
                <p class="sale__text">
                    скидка на ремонт телефонов, ноутбуков и планшетов до
                    <span>-50%</span>
                </p>
                <span class="sale__head">Конец акции:</span>
                <ul class="clock-sale">
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__days"></span>
                        <div class="clock-sale__smalltext">Days</div>
                    </li>
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__hours"></span>
                        <div class="clock-sale__smalltext">Hours</div>
                    </li>
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__minutes"></span>
                        <div class="clock-sale__smalltext">Minutes</div>
                    </li>
                    <li class="clock-sale__item">
                        <span class="clock-sale__time clock-sale__seconds"></span>
                        <div class="clock-sale__smalltext">Seconds</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>