<section class="order" id="orders">
    <div class="container">
        <div class="order__head">
            <h2 class="title order__title">Выполненные заказы</h2>
            <div class="buttons">
                <button class="buttons__btn order__btn-prev" type="button">
                    <svg class="buttons__icon buttons__icon--rotate">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <button class="buttons__btn order__btn-next" type="button">
                    <svg class="buttons__icon">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="slider order-slider">
            <ul class="slider__wrapper">
                <li class="slider__slide">
                    <img class="slider__images" src="images/order-1.png" alt="Фото выполненого заказа">
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/order-2.png" alt="Фото выполненого заказа">
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/order-3.png" alt="Фото выполненого заказа">
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/order-1.png" alt="Фото выполненого заказа">
                </li>
                <li class="slider__slide">
                    <img class="slider__images" src="images/order-2.png" alt="Фото выполненого заказа">
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


