<section class="record">
    <div class="container">
        <div class="record__inner">
            <h2 class="record__title title">Записаться на диагностику 
                в <mark>удобное</mark> вам время</h2>
            <form class="record__form" action="#">
                <label class="visually-hidden" for="day">Текстовое поле для ввода дня</label>
                <input class="record__input" type="text" name="day" id="day" placeholder="День">
                <label class="visually-hidden" for="time">Текстовое поле для ввода время</label>
                <input class="record__input" type="text" name="time" id="time" placeholder="Время">
                <label class="visually-hidden" for="tel">Текстовое поле для ввода дня</label>
                <input class="record__input record__input--tel" type="tel" name="tel" id="tel" placeholder="Телефон">
                <button class="record__btn btn" type="submit">Записаться</button>
            </form>
            <div class="record__sale">50%</div>    
        </div>
    </div>
</section>