<section class="service">
    <div class="container">
        <div class="service__inner">
            <div class="service__left animate__fadeInLeftBig wow" data-wow-duration="1s" data-wow-offset="10">
                <h2 class="title service__title">Что делать если ноутбук или телефон медлено работает</h2>
                <p class="service__text text">Получите чек лист - Что делать, если ноутбук или телефон грузится</p>
                <button class="service__btn btn" type="button">Получить чек лист</button>
            </div>
            <div class="service__right">
                <div class="service__holder">
                    <h3 class="title service__subtitle">наши услуги</h3>
                    <ul class="service__list">
                        <li class="service__item">ремонт ноутбуков</li>
                        <li class="service__item">ремонт смартфонов</li>
                        <li class="service__item">заправка и ремонт картриджей</li>
                        <li class="service__item">установка СНПЧ</li>
                        <li class="service__item">ремонт компьютеров</li>
                        <li class="service__item">ремонт моноблоков</li>
                    </ul>
                </div>
                <ul class="service__list">
                    <li class="service__item">ремонт планшетов</li>
                    <li class="service__item">ремонт КПК</li>
                    <li class="service__item">ремонт мониторов</li>
                    <li class="service__item">ремонт принтеров</li>
                    <li class="service__item">ремонт роутеров</li>
                    <li class="service__item">восстановление жестких дисков</li>
                    <li class="service__item">компьютерная помощь и IT аутсорсинги др.</li>
                </ul>
            </div>
        </div>
    </div>
</section>